/*html {
	position: fixed;
}*/
body {
	font-family: "Open Sans", sans-serif;
	background: #fff;
	overflow: scroll;
}
a:hover {
	text-decoration: none;
}
a, a:visited, a:active {
	text-decoration: none
}

/*TITLE*/
.title {
	font-family: "PT Serif", serif;
	margin: 20px auto;
	text-align: center;
	max-width: 800px;
	margin-bottom: 60px;
}
.title div {
	margin: auto;
}
.title .headline {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 40px;
  line-height: 1.5em;
}
.blue-line {
	width: 220px;
  margin: .8em auto;
  border: 2px solid #48a2d7;
}
.title .byline {
	font-size: 1.3em;
}
.title .dateline {
	font-size: 1.1em;
}
.title .subhead {
  margin-top: 40px;
}

/*COPY*/
.copy {
	margin: 0 auto;
	max-width: 600px;
}
.copy p {
  margin-bottom: 22px;
}

/*PERSON CONTAINER*/
.person-container {
	margin: 0 auto;
	display: table;
	width: 100%;
	max-width: 600px;
	margin-top: 80px;
	margin-bottom: 30px;
}

/*TIMER*/
.timer {
	display: table;
	margin: 0 auto;
	margin-bottom: 20px;
}
.timer-head, .time, .timer-date, .timer-handle {
	text-align: center;
}
.timer-head {
	font-weight: bold;
	font-size: 1.6em;
	line-height: 1.2em;
}
.timer-handle {
	font-size: .8em;
}
.timer-bio {
	margin: 10px 0px;
	font-size: .9em;
}
.timer-bio {
	display: none;
}
.timer-handle a {
	color: #657786;
	text-decoration: none;
}
.timer-handle a:hover {
	text-decoration: underline;
}
.timer-date {
	font-weight: bold;
}
.time-chart-title {
  font-size: .8em;
  font-weight: 100;
  margin-bottom: 2px;
}
.stopgo {
	cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  background: #eee;
  text-align: center;
  font-size: 1.2em;
  margin-top: 10px;
}
.stopgo:hover {
	background: #ddd;
}


/*CATEGORIES*/
.categories {
	font-size: .9em;
	max-width: 600px;
	margin: auto;
	margin-bottom: 5px;
	border-bottom: 2px solid #eee;
	height: auto;
	padding-bottom: 10px;
	text-align: center;
	color: #fff;
}
.cat {
	display: inline-block;
  padding: 3px 6px;
  margin-bottom: 5px;
	border-radius: 4px;
	margin-right: 12px;
	background: #000;
}

.cat.other, .tweet .text .tag.tag-other {
	background: #45b29d;
}
.cat.political, .tweet .text .tag.tag-political {
	background: #2980b9;
}
.cat.racial, .tweet .text .tag.tag-racial {
	background: #efc94c;
}
.cat.religious, .tweet .text .tag.tag-religious {
	background: #f2a10e;
}
.cat.sexual, .tweet .text .tag.tag-sexual {
	background: #df5a49;
}
.cat.violent, .tweet .text .tag.tag-violent {
	background: #A65DFF;
}
.cat.inline {
	padding: 0px 3px;
	margin: 0;
	color: #fff;
	font-family: "Open Sans";
}

/*TIME-SERIES CHART*/
.bar.other {
	fill: #45b29d;
}
.bar.political {
	fill: #2980b9;	
}
.bar.racial {
	fill: #efc94c;
}
.bar.religious {
	fill: #f2a10e;
}
.bar.sexual {
	fill: #df5a49;
}
.bar.violent {
	fill: #A65DFF;
}

.rect {
	opacity: .3;
	transition: opacity 1s;
}

.y.axis .domain {
	display: none;
}

.x.axis .tick:nth-child(odd) line {
	display: none;
}


/*TWEETS*/
.tweets {
	min-height: 350px;
	height: 350px;
	max-height: 350px;
	width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}
.tweet {
	border-bottom: 1px solid #e6ecf0;
	padding: 9px 12px;
	font-size: .9em;
	cursor: pointer;
}
.tweet:hover {
	background: #eee;
}

.tweet .col {
	vertical-align: top;
	display: inline-block;
}
.tweet .left-col {
	width: 10%;
	max-width: 48px;
}
.tweet .left-col img {
	width: 100%;
	border-radius: 5px;
}
.tweet .right-col {
	width: 87%;
	max-width: 552px;
	padding-left: 2%;
}
.tweet .right-col .user {
	margin-bottom: 4px;
}

.tweet .right-col .user .name {
	font-weight: bold;
	margin-right: 4px;
	color: #14171a;
}
a.block-link:hover .handle {
	text-decoration: none !important;
}
.tweet .right-col .user .handle, .tweet .right-col .user .date-display {
	font-size: .9em;
	color: #657786;
}
.tweet .right-col .user .date-display a {
	color: #657786;	
}
.tweet .right-col .user .date-display a:hover {
	text-decoration: underline;
}
.tweet .text a {
	color: #4E78A0;
}
.tweet .text a:hover {
	text-decoration: underline;
}
.tweet .text .tag {
	/*font-weight: bold;*/
	padding: 1px 2px;
	color: #fff;
	background: #000;
	border-radius: 4px;
	/*font-size: 20px;*/
}
.tweet .text .tag a {
	color: #fff;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	.title {
		font-size: .9em;
	}
	.copy {
		font-size: 1em;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
	.stopgo {
		width: 100%;
	}
	.x.axis {
		font-size: .5em;
	}
	.cat {
		font-size: .8em;
	}
	.time-chart {
		display: none;
	}
	.tweets {
		font-size: .9em;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}


