body {
	font-family: "Open Sans", sans-serif;
}
a:hover {
	text-decoration: none;
}
a, a:visited, a:active {
	text-decoration: none
}

/*TITLE*/
#title {
	font-family: "PT Serif", serif;
	font-weight: bold;
	margin: 20px auto;
	text-align: center;
}
#title div {
	margin: auto;
}
#title .headline {
	font-size: 1.8em;
	max-width: 800px;
}

/*TIMER*/
#timer {
	display: table;
	margin: 0 auto;
	margin-bottom: 20px;
}
.stopgo {
	cursor: pointer;
}

/*CATEGORIES*/
#categories {
	font-size: .9em;
	max-width: 600px;
	margin: auto;
	margin-bottom: 20px;
	border-bottom: 2px solid #eee;
	height: 40px;
	text-align: center;
	color: #fff;
}
#categories .cat {
	display: inline;
  padding: 3px 6px;
	border-radius: 4px;
	margin-right: 12px;
	background: #000;
}

#categories .cat.general {
	background: #45b29d;
}
#categories .cat.political {
	background: #2980b9;
}
#categories .cat.racial {
	background: #efc94c;
}
#categories .cat.sexual {
	background: #df5a49;
}
#categories .cat.violent {
	background: #A65DFF;
}



/*TWEETS*/
#tweets {
	height: 400px;
  max-width: 600px;
  margin: auto;
  overflow: scroll;
}
.tweet {
	border-bottom: 1px solid #e6ecf0;
	padding: 9px 12px;
	font-size: .9em;
	cursor: pointer;
}
.tweet:hover {
	background: #eee;
}

.tweet .col {
	vertical-align: top;
	display: inline-block;
}
.tweet .left-col {
	width: 10%;
	max-width: 48px;
}
.tweet .left-col img {
	width: 100%;
	border-radius: 5px;
}
.tweet .right-col {
	width: 87%;
	max-width: 552px;
	padding-left: 2%;
}
.tweet .right-col .user {
	margin-bottom: 4px;
}

.tweet .right-col .user .name {
	font-weight: bold;
	margin-right: 4px;
	color: #14171a;
}
a.block-link:hover .handle {
	text-decoration: none !important;
}
.tweet .right-col .user .handle, .tweet .right-col .user .date-display {
	font-size: .9em;
	color: #657786;
}
.tweet .right-col .user .date-display a {
	color: #657786;	
}
.tweet .right-col .user .date-display a:hover {
	text-decoration: underline;
}
.tweet .text a {
	color: #4E78A0;
}
.tweet .text a:hover {
	text-decoration: underline;
}
.tweet .text .tag {
	/*font-weight: bold;*/
	padding: 1px 2px;
	color: #fff;
	background: #000;
	border-radius: 4px;
	/*font-size: 20px;*/
}
.tweet .text .tag.tag-general {
	background: #45b29d;
}
.tweet .text .tag.tag-political {
	background: #2980b9;
}
.tweet .text .tag.tag-racial {
	background: #efc94c;
}
.tweet .text .tag.tag-sexual {
	background: #df5a49;
}
.tweet .text .tag.tag-violent {
	background: #A65DFF;
}
.tweet .text .tag a {
	color: #fff;
}

